:root {
    --vp-c-brand: #c95d81;
    --vp-c-brand-dark: #c7426e;
    --vp-c-brand-darker: #ad3b61;
}

:root {
    --vp-button-brand-border: var(--vp-c-brand);
    --vp-button-brand-text: var(--vp-c-white);
    --vp-button-brand-bg: var(--vp-c-brand);
    --vp-button-brand-hover-border: var(--vp-c-brand-dark);
    --vp-button-brand-hover-text: var(--vp-c-white);
    --vp-button-brand-hover-bg: var(--vp-c-brand-dark);
    --vp-button-brand-active-border: var(--vp-c-brand-darker);
    --vp-button-brand-active-text: var(--vp-c-white);
    --vp-button-brand-active-bg: var(--vp-c-brand-darker);
}

:root {
    --vp-home-hero-name-color: var(--vp-c-brand);
}
